<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kudou's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a> </h1>
    </div>

    <div>
        <p>published: 2023.12.27, 16:30</p>
        <h2><a href="">My first post</a> </h2>
        <p>Aenean eu leo quam.　こんにちは！　よろしくお願いします！</p>
    </div>

    <div>
        <p>公開日；2023/12/27, 16:30</p>
        <h2><a href="">2番目の投稿</a> </h2>
        <p>こんにちは！よろしくお願いします！</p>
    </div>
</body>
</html>